requests==2.27.1
psycopg2-binary
flask==1.1.4
flask-oidc
apispec[yaml]
apispec-webframeworks
marshmallow
itsdangerous<2.0>=0.24
jwcrypto
markupsafe==2.0.1
pycryptodome
pyjwt[crypto]
pytest
python-dotenv
pyyaml
requests_toolbelt
sqlitedict
pyasn1<0.5.0>=0.4.6
contextlib2
